.imgcontainer {
  transition-duration: 0.2s;
  width: 20vw;
  height: 20vw;
  margin: 0;
}

.imgcontainer:hover {
  width: 21vw;
  height: 21vw;
}

.imgcircle {
  transition-duration: 0.2s;
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
  object-fit: cover;
}

.imgcircle:hover {
  width: 21vw;
  height: 21vw;
  border-radius: 10.5vw;
}

.char-col {
  margin-bottom: 5vh;
}

@media only screen and (max-width: 800px) {
  .imgcontainer {
    width: 70vw;
    height: 70vw;
    /*margin-left: 15vw;
    margin-right: 15vw;*/
  }

  .imgcontainer:hover {
    width: 71vw;
    height: 71vw;
  }

  .imgcircle {
    width: 70vw;
    height: 70vw;
    border-radius: 35vw;
  }

  .imgcircle:hover {
    width: 71vw;
    height: 71vw;
    border-radius: 35.5vw;
  }
}