.linkbutton {
  border-radius: 1em;
  background-color: #343a40;
  margin-left: 42.5%;
  margin-right: 42.5%;
  width: 15%;
  border: 1px solid #495057;
}

.linkbutton:hover {
  filter: brightness(110%);
}

@media only screen and (max-width: 1100px) {
  .linkbutton {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}