.anim {
  animation: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    transform: translate(0px, 100px);
    opacity: 0.0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1.0;
  }
}