.test-container {
  padding: 3em;
}

.result-container {
  text-align: center;
}

.character-container {
  margin-left: 40vw;
  margin-right: 40vw;
}

.test-content {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.test-button {
  margin-top: 1em;
  width: 20%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .test-content {
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  .test-button {
    width: 100%;
  }
}